@font-face {
  font-family: 'TrueType';
  src: url('Style/Font/TrueTypeFont.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'TrueType';
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.button {
  margin-right: 1rem;
  margin-top: 2rem;
}

.timer span {
  font-size: 6rem;
  text-wrap: wrap;
}

#display {
  font-family: 'TrueType';
}

header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
}

header .nav  {
  margin-left: 35rem;

}



